@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
background: white;
}
.tipografia{
font-family: "Roboto Condensed", sans-serif;
font-weight: 500;
font-style: normal;
}

.minhasCores{

  color: #64748b ;

}

footer{


}

.bx-inpt-txt{

  color: #64748b;
  /* background: whitesmoke;    rgb(100 116 139 / var(--tw-bg-opacity))*/
  border-radius: 6px;
  border-bottom: 2px solid  #64748b;
  /* background-color:#64748b */
}

.inpt-txt {
  text-decoration: none;
  outline: none;
  background: none;
}
.btn-compra {
  background: #4ade80 ;
  color: white;
  cursor: pointer;
}

.btn-compra:hover{
  background: white ;
  color: #4ade80;
  cursor: pointer;
  border-radius: 4px;
  border :solid 1px #4ade80
}
.inpt-select{

  border :solid 1px #686b70;
  border-radius: 3px;

}
.inpt-number{

  text-decoration: none;
  border: 1px solid  #94a3b8;
  outline: none;
  background: none;
  border-radius: 3px;
  color: #686b70;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* *******************ADMIN ******************* */

.bx-cards {

  background-color: rgb(90, 116, 140);
  border-radius: 3px;
  border:solid 1px rgb(138, 149, 122);
  font-weight: bold;
  font-size: 18;

}
.btn-add{
  background-color: rgb(90, 116, 140);
  border-radius: 3px;
  border:solid 2px rgb(90, 116, 140);
  font-weight: bold;
  font-size: 18;
  color: white;
}

.btn-add:hover{
  background: white ;
  color:  rgb(90, 116, 140);
  cursor: pointer;
  border-radius: 4px;
  border:solid 2px rgb(90, 116, 140);
}

.bx-circle{
  border-radius: 30px;
  width: 30px;
  height: 30px;
  background-color: white;
  padding: 4px;
  cursor: pointer;
  color: rgb(90, 116, 140);
}
.inpt-select {
  text-decoration: none;
  outline: none;
  background: none;
  border:none;
}
.bx-header{

  
}